---
import { Globe } from "lucide-astro";

const { project } = Astro.props;
---

<a
  href={project.href}
  target="_blank"
  aria-label={`Card that links to more info for ${project.title}.`}
  class="group flex flex-col h-full items-center text-white hover:cursor-pointer bg-elevated rounded-3xl overflow-hidden transition-colors"
>
  <span class="sr-only">Card that links to more info for {project.title}.</span>
  <div class="relative w-full min-h-[20rem] group">
    <video
      class="object-cover min-h-full absolute inset-0 z-0 group-hover:scale-110 transition-transform duration-200 ease-in-out hidden group-hover:block"
      autoplay
      muted
      loop
    >
      <source src={project.video} type="video/webm" />
    </video>

    <img
      class="object-cover relative z-10 group-hover:scale-110 transition-all duration-500 ease-in-out group-hover:opacity-0"
      src={project.img}
      alt={project.title}
      height="200px"
      width="100%"
      loading="lazy"
    />
  </div>

  <div
    class="flex flex-col gap-2 justify-between p-4 bg-elevated relative z-20 transition-colors"
  >
    <h4 class="font-semibold text-xl">
      {project.title}
    </h4>

    <div class="min-h-[6rem]">
      <p class="text-gray-400">
        {project.description}
      </p>
    </div>

    <div
      class="bg-elevated-2 p-2 rounded-full flex flex-row gap-2 justify-center items-center hover:bg-elevated-4 transition-colors"
    >
      <Globe size={18} />
      <span class="uppercase text-xs font-semibold">explore</span>
    </div>
  </div>
</a>
