---
import EXPERIENCE from "../constants/experience";
---

<section class="container py-8">
  <h1 class="text-4xl font-semibold mb-10">Work Experience</h1>

  {
    EXPERIENCE.map((experience, i) => (
      <div class="grid grid-cols-12 gap-2 px-2 justify-start md:justify-center">
        <div class="col-span-3 flex flex-col items-end ">
          <img class="md:max-w-36" src={experience.img} alt="Work Experience" />
        </div>

        <div class="col-span-1 flex flex-col gap-2 items-center p-0 justify-end">
          <div class="size-3 min-w-3 min-h-3 rounded-full bg-white mt-2" />
          <div class="h-full w-[1px] rounded-full bg-gray-100" />
          {i === EXPERIENCE.length - 1 && (
            <span class="text-xl relative">👀</span>
          )}
        </div>

        <div class="col-span-8 flex flex-col gap-6 mb-12">
          <div class="pb-16">
            <span class="text-gray-400 ml-auto">{experience.date}</span>

            <h3 class="font-semibold mb-6 text-xl">
              {experience.company} — {experience.role}
            </h3>

            <ul class="list-disc flex flex-col gap-4 ml-10 text-gray-400">
              {experience.activities.map((activity) => (
                <li>
                  <span set:html={activity} />
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    ))
  }
</section>
